
<div style="background-color: #157878; padding: 10px;">
    <div style="display: flex;">            
            <!-- Left block content goes here -->
        </div>
        <div style="width: 70%;">
            <div>
                <a href="/" style="color: white;"><h1>{{ site.title }}</h1></a>
            </div>
            <div style="color: white;">
                At Clussys, we're on a mission to revolutionize networking with the cutting-edge Compute Express Link (CXL) and CXL Switches with unparalleled scalability.
            </div>
        </div>
    </div>
</div>
