<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
</head>
  <body>
    <header class="page-header" role="banner">      
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">

        {{ content }}

      <footer class="site-footer">
        <div style="display: flex; justify-content: center; align-items: center; height: 100px;">
          <h2>About Clussys</h2>
        </div>
        <div>
      Clussys Inc. is a company specializing in network system architecture design, high-speed interconnect algorithms, chip and overall hardware solution design. They focus on providing leading PCIe/CXL Switch algorithms, chips, modules, and low-power overall hardware solutions. The company addresses challenges in data transfer for intelligent computing centers and supercomputing centers by innovating traditional network architectures. Clussys Inc. has developed a global-leading "PCIe Net + PCIe/CXL Direct Connect" architecture, enhancing GPU and CPU interconnectivity. Their achievements include breakthroughs in domestic GPU cluster interconnect technology and the development of a new generation of distributed data storage solutions based on PCIe/Ethernet fusion technology. For more detailed information, please visit their website at Clussys Inc..
        <br>
        website: https://clussys.com
        <br>
        email: info@clussys.com      
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src="images/ClussysWechatLogo.png" alt="image" width="160" height="auto">
        </div>
      </div>      
    </footer>
    </main>
  </body>
</html>